<div class="text-center mt-3">
  <h1><strong>Your matches - {{pagination.totalItems}} found</strong></h1>
</div>
<br>
<div class="container mt-3">

    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge"><strong>Age From</strong></label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minAge"
          [(ngModel)]="userParams.minAge" name="minAge">
        </div>
      
        <div class="form-group px-2">
          <label for="maxAge"><strong>Age To</strong></label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge"
          [(ngModel)]="userParams.maxAge" name="maxAge">
        </div>
      
        <div class="form-group px-2">
          <label for="gender"><strong>Show: </strong></label>
          <mat-radio-group id="gender" class="ml-3"
          [(ngModel)]="userParams.gender" name="gender">
            <mat-radio-button *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button mat-raised-button color="primary" class="btn btn-dark" type="submit" style="margin-left:10px">Apply Filters</button>
        <button mat-raised-button color="accent" class="btn btn-dark" type="button" (click)="resetFilters()" style="margin-left:10px">
          Reset Filter
        </button>
        <div class="col">
            <div class="float-right">
              <button mat-raised-button color="primary" class="btn btn-dark" type="button" name="orderBy"  
              [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="lastActive">Last Active</button>
              <button mat-raised-button color="accent" class="btn btn-dark" style="margin-left: 10px" type="button" name="orderBy" 
              [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="created">Newest Members</button>
            </div>
          </div>

      </form>
      <br>

  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
</pagination>
</div>